<launch>

    <arg name="model" default="$(find little_pig_description)/urdf/basic_laser_pig.urdf.xacro"/>
    <arg name="gui" default="true"/>
    <arg name="rvizconfig" default="$(find little_pig_rviz)/rviz/urdf.rviz"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
    <param name="use_gui" value="$(arg gui)"/>

    <remap from="/joint_states" to="/basic_laser_pig/simulation/joint_states"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

</launch>